/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 16px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 0;
    gap: 30px;
}

.header-search {
    display: flex;
    align-items: center;
}

.header-searchBar {
    border-radius: 14px;
    border: 1px solid #ccc;
    height: 32px;
    display: flex;
    position: relative;
}

.header-searchBar-input {
    outline: none;
    border: none;
    background: none;
    padding: 0 320px 0 15px;
    font-size: 14px;
}

.header-searchBar-button {
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #f3f3f3;
    padding-inline: 15px;
}

.header-searchBar-button span {
    color: gray;
    padding-top: 2px;
}

.header-aside {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 120px;
}

.center-column {
    justify-content: center;
    margin: 20px auto 0;
}


.container {
    display: grid;
    grid-template-columns: auto auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

main > * {
    padding: 0 40px 0 30px;
    display: flex;
    flex-direction: column;
}

.main-video iframe {
    border-radius: 15px;
    width: 100%;
}


.video-title{
    font-size: 24px;
    text-wrap: balance;
}

.main-video-interactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-video-interactions-author{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}

.main-video-interactions-video{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}

.main-video-interactions-video .material-symbols-outlined{
    color: #000;
}

.main-video-interactions-video a label{
    display: flex;
    align-items: center;
    font-size: 20px
} 



.video-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-wrap:balance;
}

.video-description p strong{
    color: blue;
}



.recomended {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-right: auto;
    margin: 20px;
}


.recomended-video {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px; 
    margin-bottom: 15px;
}

.recomended-video-image img {
    width: 190px; 
    height: 120px;
    border-radius: 8px; 
}

.recomended-video-description h3 {
    font-size: 16px;
    margin: 0;
    color: #000;
}

.recomended-video-description small {
    font-size: 12px;
    color: gray;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 20px;
}

.footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-list ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

@media(max-width: 914px){
    .container{
        grid-template-columns: 1fr;
    }

    .header-searchBar{
        width: 80%;
        margin: auto;
    }
    .header-searchBar-input{
        padding: 0 auto 0 15px;
    }

}

